@import url(blog.css);
body {
	background-color: #eee;
	font-family: georgia, times, serif;
	font-size: 1.2rem;
	line-height: 1.6em;
	padding: 0px;
	margin: 0px;
}

p {
	margin-bottom: 1.6em;
}

h1 {
	font-size: 2rem;
	line-height: 1.3em;
}

.container {
	width: 85%;
	max-width: 1250px;
	margin: 0 auto;
}

.header {
	margin: 0px;
	background: #333;
	color: white;
	padding: 2rem 0;

	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
}

.header a {
	color: white;
	text-decoration: none;
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	letter-spacing: 12px;
	font-size: 1.5em;
}

.menu-icon {
	display: none;
}
.navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.navigation ul li {
	display: inline-block;
}

	.navigation ul li a {
		display: block;
		padding: 0.5rem 1rem;
		transition: all 0.4s linear;
		border-radius: 5px;
	}
		.navigation ul li a:hover {
			background-color: #4a4a4a;
		}

.main {
	padding-top: 10rem;
}

.footer {
	background: #d3d3d3;
	padding: 4rem 0;
	text-align: center;
	margin-top: 5rem;
}





@media only screen and (max-width: 766px) {

.menu-icon {
	display: block;
}

.navigation {
	width: 100%;
	margin-top: 1rem;
}

	.navigation ul {
		display:none;
	}

	.navigation ul.show {
		display:block;
	}

.navigation ul li {
	display: block;
}

	.navigation ul li a {
		display: block;
		padding: 0.5rem 1rem;
		transition: all 0.4s linear;
		border-radius: 5px;
	}
		.navigation ul li a:hover {
			background-color: #4a4a4a;
		}

}
